.language-container {
	margin: 1em 4em; 
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30em; 
	height: 35em; 
}
.language-text {
	visibility: hidden;
	animation: slide-down 1s forwards;
	animation-delay: 1s; 
}

@keyframes slide-down {
	0% { 
		opacity: 0;
		transform: translateY(-100%)}
	100% {
		visibility: visible;
		opacity: 1;
		transform: translateY(0)
	}
}

.pie-box {
	animation: slide-in 1s,  bounce 1s 1s ; 
} 

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(75deg);
    }
    50% {
        transform: translateX(50%) rotate(0deg);
    }
    75% {
        transform: translateX(-10%) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) rotateX(0deg);
    }
}


@keyframes bounce {
    0%   { 
		transform: translateX(0); 
	}
    20%  { 
		transform: translateX(-20px); 
	}
    40%  { 
		transform: translateX(0); 
	}
    60%  { 
		transform: translateX(-15px); 
	}
    80%  { 
		transform: translateX(0); 
	}
    100% { 
		transform: translateX(0); 
	}
}



