.header-container { 
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em; 
	margin: 1em 0em; 
	animation: fade-in 1000ms; 
	animation-fill-mode: forwards;
}

.home-header {
	font-size: 30px;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1; 
	}
}

.movie-text {
	font-size:3em;
	margin: 0; 
}
