

.search-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em; 
	animation: slide-in-top 1000ms; 
}

@keyframes slide-in-top {
	0% {
		opacity: 0;
		transform: translateY(-100%)

	}
	100% {
		opacity: 1; 
		transform: translateY(0);

	}
}

.search-container label {
	padding: 1em; 
	font-size: large;
	font-weight: bold;
}
.search-input {
	padding: 0.5em; 
	margin-bottom: 1em; 
	border: 1px solid grey; 
	border-radius: 2em;
	font-size: 1em; 
	transform: scale(120%);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
	border: 1px solid rgb(177, 165, 165); 
}


.movie-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in;
}

.movie-container ul li:hover {
	transform: scale(120%)
}

.movie-list {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

 .movie-list .single-movie {
	display: flex;
	justify-content: center;
	align-items: center;
	 
}
.movie-container .single-movie li {
	margin: 0.5em; 
	padding: 2em;
	border: 2px solid rgba(243, 181, 164, 0.8); 
	background-color: rgba(252, 240, 206, 0.8);
	border-radius: 10px; 
	width: 15em; 
	height: 10em; 
	list-style: none; 
	box-shadow: 10px 10px 20px 2px rgb(230, 191, 149);
}
.single-movie .movie-desc {
	opacity: 1;
}


.movie-container > ul li {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin: 0.5em; 
	padding: 1.5em;
	border: 2px solid rgba(243, 181, 164, 0.8); 
	background-color: rgba(252, 240, 206, 0.8);
	border-radius: 10px; 
	width: 15em; 
	list-style: none; 
	box-shadow: 10px 10px 20px 2px rgb(230, 191, 149); 
	animation-name: fall-in;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fall-in {
	0% {
		opacity: 0; 
		transform: translateY(-20px)
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.movie-titel {
	font-size: 20px;
	margin-bottom: 0.3em; 
	font-weight: bold;
}

.movie-desc {
	opacity: 0; 
	transition: all 0.5s ease-in;
}

.movie-desc:hover {
	opacity: 1;
	transform: translateX(0.2em);
}