.runtime-container {
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40em; 
	height: 35em; 
	overflow: hidden;
}
 .runtime-text {
	visibility: hidden;
	animation: slide-down 1s forwards;
	animation-delay: 1.3s;
 }
 
@keyframes slide-down {
	0% { 
		opacity: 0;
		transform: translateY(-100%)}
	100% {
		visibility: visible;
		opacity: 1;
		transform: translateY(0)
	}
}

.line-container {
	width: 100%; 
	height: 100%;
	animation: runtime 2s forwards ease-in-out; 
	transform-origin: left;
}

@keyframes runtime {
	0% {
        transform: scaleX(0); /* Börja från noll bredd (vänster) */
      }
      30% {
        transform: scaleX(0.3); /* Dra ut från vänster */
      }
      60% {
        transform: scaleX(0.6); /* Fortsätt dra ut */
      }
      100% {
        transform: scaleX(1); /* Full bredd (höger) */
      }
}

