* {
	padding: 0; 
	margin: 0; 
}
body {
	background-image: url('./assets/movie-background2.jpg');
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main {
	background-color: rgb(220, 209, 231);
	display: flex; 
	flex-direction: column;
	justify-content: flex-start;
	align-items: center; 
	margin: 0em 10em ; 
	border-radius: 10px; 
}

h1, h2 {
	margin: 1em; 
}

p {
	font-size: 20px;
}
